[Unit]
Description='core-router' services, routes all subnets.
After=systemd-networkd.service
Requires=systemd-networkd.service

[Service]
Type=oneshot
TimeoutStartSec=0
#ExecStartPre=-/usr/bin/pwsh __PROJ_ROOT__/emulate-links.ps1 stop -Verbose
ExecStartPre=-/usr/bin/pwsh __PROJ_ROOT__/core-router/service.ps1 stop -Verbose
ExecStart=/usr/bin/pwsh __PROJ_ROOT__/core-router/service.ps1 start -Verbose

ExecStop=/usr/bin/pwsh __PROJ_ROOT__/core-router/service.ps1 stop -Verbose
RemainAfterExit=yes

[Install]
WantedBy=default.target